<!--The content below is only a placeholder and can be replaced.-->
<div style="margin: 0 0 10px 0; padding: 25px; background: #212121; text-align: right; color: white;">
    <strong>Cart</strong> (<span style="color:red;">{{cartItems.length}}</span>)
</div>
<div style="padding: 0 10px">
    <h3>Products</h3>
    <table border="1" style="width: 100%; border: 1px solid; text-align: center;">
        <thead>
            <tr>
                <th>ID</th>
                <th>Product Name</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td><button (click)="addItemToCart(product)">Add to Cart</button></td>
            </tr>
        </tbody>
    </table>
</div>

<div style="padding: 0 10px">
  <h3>Your Cart</h3>
  <div *ngIf="cartItems.length" >
      <table border="1" style="width: 50%; border: 1px solid; text-align: center;">
          <thead>
              <tr>
                  <th>Product Name</th>
                  <th>Price X Items</th>
                  <th>Total</th>
              </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of cartItems" >
              <td>{{item.name}}</td>
              <td>{{item.price}} X
                <button (click)="addItemToCart(item)" >+</button>
                {{item.item}}
                <button (click)="removeItemCart(item)" >-</button>
              </td>
              <td>{{item.total}}</td>
            </tr>
            <tr>
              <td colspan='2'>Net Total</td>
              <td>{{cartTotal}}</td>
            </tr>
          </tbody>
          <tbody>
          </tbody>
      </table>
  </div>
  <div *ngIf="!cartItems.length" >No items in your cart</div>
</div>

